<!DOCTYPE html>
<html>
<head>
    <title>Hashtag Generator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Hashtag Generator</h2>
        <form method="POST" action="{{ url_for('generator') }}">
            <textarea name="hashtags" placeholder="Enter your keywords (separated by space eg: travel street landscape)" required></textarea>
            <input type="submit" value="Generate Hashtags" class="btn">
        </form>
        
        {% if generated_hashtags %}

        <div class="input-hashtags">
            <h2>Input Keywords:</h2>
            <div class="hashtag-list">
                {% for hashtag in input_hashtags %}
                <div class="hashtag">{{ hashtag }}</div>
                {% endfor %}
            </div>
        </div>

        <div class="generated-hashtags">
            <h2>Generated Hashtags:</h2>
            <div class="hashtag-list">
                {% for hashtag in generated_hashtags %}
                <div class="hashtag" onclick="toggleSelection(this)">{{ hashtag.split(' ')[0] }} <span class="button-number">{{ hashtag.split(' ')[1] }}</span></div>
                {% endfor %}
            </div>

            <h2>Related Hashtags:</h2>
            <div class="hashtag-list">
                {% for hashtag in gener_generated_hashtags %}
                <div class="hashtag" onclick="toggleSelection(this)">{{ hashtag.split(' ')[0] }} <span class="button-number">{{ hashtag.split(' ')[1] }}</span></div>
                {% endfor %}
            </div>
        </div>


        
        <div class="counter">Selected hashtags: 0</div>
        <button class="btn copy-btn" onclick="copySelectedHashtags()">Copy Selected</button>
        {% else %}
        <p>No matching hashtags found.</p>
        {% endif %}
        <h5>"Crafted with passion by cruising_bug"</h5>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
