<!DOCTYPE html>
<html>
<head>
    <title>Hashtag Generator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Hashtag Generator</h1>
        <form method="POST" action="{{ url_for('generator') }}">
            <textarea name="hashtags" placeholder="Enter your hashtags (separated by commas)" required></textarea>
            <input type="submit" value="Generate Hashtags" class="btn">
        </form>
        
        {% if generated_hashtags %}
        <div class="generated-hashtags">
            <h2>Generated Hashtags:</h2>
            <div class="hashtag-list">
                {% for hashtag in generated_hashtags %}
                <div class="hashtag" onclick="toggleSelection(this)">{{ hashtag }}</div>
                {% endfor %}
            </div>
        </div>

        <div class="input-hashtags">
            <h2>Input Hashtags:</h2>
            <div class="hashtag-list">
                {% for hashtag in input_hashtags %}
                <div class="hashtag">{{ hashtag }}</div>
                {% endfor %}
            </div>
        </div>
        
        <div class="counter">Selected hashtags: 0</div>
        <button class="btn copy-btn" onclick="copySelectedHashtags()">Copy Selected</button>
        {% else %}
        <p>No matching hashtags found.</p>
        {% endif %}
        <h6>"Crafted with passion by cruising_bug"</h6>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
