<!DOCTYPE html>
<html>
<head>
    <title>Hashtag Generator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Hashtag Generator</h1>
        <div class="landing-buttons">
            <a class="btn" href="{{ url_for('signup') }}">Sign Up</a>
            <a class="btn" href="{{ url_for('login') }}">Log In</a>
        </div>
        <h6>"Crafted with passion by cruising_bug"</h6>
    </div>
</body>
</html>
