<!DOCTYPE html>
<html>
<head>
    <title>Sign Up - Hashtag Generator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Sign Up</h1>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        <form method="POST" action="{{ url_for('signup') }}">
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Sign Up" class="btn">
        </form>
        <h6>"Crafted with passion by cruising_bug"</h6>
    </div>
</body>
</html>
